.navBar,
.navBar a{
 color: #B7B7B7;
 text-decoration: none;
}
.navItem{
 display: block;
 cursor: pointer;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.25em;
 padding: 12px 0px 12px 32px;
 position: relative;
 width: 100%;
}
 .navBar .navItem:hover{
   color: rgb(255, 255, 255);
 }
  .navBar .navItem .dropdown__item{
     display: block;
}
.currentUser{
 overflow: hidden;
 text-overflow: ellipsis;
 width: 90%;
 white-space: nowrap;
}
.navItem .dropdown__item{
 display: none;
 left: 0px;
 padding: 8px 54px;
 position: absolute;
 top: 100%;
 width: 100%;
}
.navItem .dropdown__item :hover{
   color: #F9461C;
}
.logoItem{
 padding: 12px 0px 12px 32px;
}
